Activity 1

In [1]:
a='x'
print(a, "is of type", type(a))

x is of type <class 'str'>

In [2]:
a=8
print(a, "is of type", type(a))

8 is of type <class 'int'>

In [3]:
a=6+5j
print(a, "is of type", type(a))

(6+5j) is of type <class 'complex'>

In [4]:
a=[4,6,8,2,68,42,81,52]

In [5]:
#a[2]=8
print("a[2]=",a[2])

a[2]= 8

In [6]:
print("a[0:3]=",a[0:3])

a[0:3]= [4, 6, 8]

In [7]:
print("a[5:]=",a[5:])

a[5:]= [42, 81, 52]

In [8]:
print("a[-1]=",a[-1])

a[-1]= 52

In [9]:
a[2]=99

In [10]:
print("a[2]=",a[2])

a[2]= 99

In [11]:
print("a[0:3]=",a[0:3])

a[0:3]= [4, 6, 99]

In [12]:
s="This is a string"
print(s)
s='''A multiline
string'''
print(s)

This is a string
A multiline
string

In [13]:
s='Hello world!'
#s[4]='o'
print("s[4]=",s[4])
#s[6:11]='world'
print("s[6:11]=",s[6:11])

s[4]= o
s[6:11]= world

In [14]:
a = {5,2,3,1,4}

In [15]:
# printing set variable
print("a=", a)

a= {1, 2, 3, 4, 5}

In [16]:
# data type of variable a
print(type(a))

<class 'set'>

In [17]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

In [18]:
d = {1:'value','key':2}
print(type(d))
print("d[1] =", d[1])
print("d['key']=", d['key'])

<class 'dict'>
d[1] = value
d['key']= 2

In [19]:
print("d[2]=",d[2])

KeyError: 2

In [20]:
float(5)

5.0

In [21]:
int(10.6)

10

In [22]:
float('2.5')

2.5

In [23]:
int('lp')

ValueError: invalid literal for int() with base 10: 'lp'

In [24]:
set([1,2,3])

{1, 2, 3}

In [25]:
tuple({5,6,7})

(5, 6, 7)

In [26]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [27]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [28]:
dict([(3,26),(4,44)])

{3: 26, 4: 44}

In [32]:
if False:
    1 + "two"; # This line never runs, so no TypeError is raised
else:
    1 + 2

In [30]:
if False:
    1 + "two"; # This line never runs, so no TypeError is raised
    else:
      1 + 2 
    
3
1 + "two"; # Now this is type checked, and a TypeError is raised

SyntaxError: invalid syntax (435688559.py, line 3)

In [33]:
1 + &quot;two&quot; # Now this is type checked, and a TypeError is raised

SyntaxError: invalid syntax (105051110.py, line 1)

In [34]:
thing = "hello";

In [35]:
thing = "hello"
type(thing)

str

In [36]:
thing = 28.1
type(thing)

float

In [37]:
number = -20
absolute_number = abs(number)
print(absolute_number)

20

In [38]:
# random integer
integer = -20
print('Absolute value of -20 is:', abs(integer))

Absolute value of -20 is: 20

In [39]:
# random floating number
floating = -20.66
print('Absolute value of -20.66 is:', abs(floating))

Absolute value of -20.66 is: 20.66

In [40]:
languages = ['Python','Java','JavaScript']
# compute the length of languages
length = len(languages)
print(length)

3

In [41]:
testList = []
print(testList,'length', len(testList))
testList = [1, 2, 3]
print(testList,'length', len(testList))
testTuple = (1, 2, 3)
print(testTuple,'length', len(testTuple))
testRange = range(1, 10)
print('Length of', testRange,'is', len(testRange))

[] length 0
[1, 2, 3] length 3
(1, 2, 3) length 3
Length of range(1, 10) is 9

In [42]:
testString = ''
print('Length of', testString,'is', len(testString))
testString = 'Python'
print('Length of', testString,'is', len(testString))
testByte = b'Python'
print('Length of', testByte,'is', len(testByte))
testList = [1, 2, 3]
# converting to bytes object
testByte = bytes(testList)
print('Length of', testByte, 'is', len(testByte))

Length of  is 0
Length of Python is 6
Length of b'Python' is 6
Length of b'\x01\x02\x03' is 3

In [1]:
testSet = {1, 2, 3}
print(testSet, 'length is', len(testSet))
# Empty Set
testSet = set()
print(testSet, 'length is', len(testSet))
testDict = {1: 'one', 2: 'two'}
print(testDict,'length is', len(testDict))
testDict = {}
print(testDict, 'length is', len(testDict))
testSet = {1, 2}
# frozenSet
frozenTestSet = frozenset(testSet)
print(frozenTestSet, 'length is', len(frozenTestSet))

{1, 2, 3} length is 3
set() length is 0
{1: 'one', 2: 'two'} length is 2
{} length is 0
frozenset({1, 2}) length is 2

In [2]:
numbers = [9, 34, 11, -4, 27]
# find the smallest number
min_number = min(numbers)
print(min_number)

-4

In [3]:
number = [3, 2, 8, 5, 10, 6]
smallest_number = min(number);

print("The smallest number is", smallest_number)

The smallest number is 2

In [4]:
# for integers
print(round(15))

15

In [5]:
# for floating point
print(round(51.6))
print(round(51.5))
print(round(51.4))

52
52
51

In [7]:
print(round(2.665, 2))
print(round(2.676, 2))
print(round(2.673, 2))

2.67
2.68
2.67

In [8]:
# string contains either alphabet or number
name1 = "Python3"
print(name1.isalnum()) #True

# string contains whitespace
name2 = "Python 3"
print(name2.isalnum()) #False

True
False

In [9]:
# contains either numeric or alphabet
string1 = "M234onica"
print(string1.isalnum()) # True

True

In [10]:
# contains whitespace
string2 = "M3onica Gell22er"
print(string2.isalnum()) # False

False

In [11]:
# contains non-alphanumeric character
string3 = "@Monica!"
print(string3.isalnum()) # False

False

In [13]:
print("End of Activity 1")

End of Activity 1